.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
    margin-bottom: 10px;
}

.card-1 {
    width: calc(22% - 10px); /* Change the width of the card here */
    height: 350px; /* Change the height of the card here */
     /* Border color */
    border-radius: 10px;
    padding: 8px; /* Padding around the content */
    box-shadow: 0 0 10px rgba(238, 17, 17, 0.1);
    margin-bottom: 10px;
    margin-left: 25px;
    border-color: none;
    background-color: bisque;
    margin-bottom: 25px;
}

.card-1 img {
    width: 100%; /* Image width set to fill the card */
    height: 260px; /* Automatically adjust image height */
}

.card-content {
    text-align: center;
}

.card-title {
    margin-top: 5px;
    font-size: 12px;
    /* margin-bottom: 3px; */
}

.product-button {
    text-decoration: none;
    transition: .2s;
    padding-inline-start: 32.5%;
    color: white;
}

.product-button:hover{
    color: red;
    
}