{% extends 'base.html' %}
{% load static %}

<!--META DESCCRIPTION SECTION-->
{% block metadescription %}
    {% if category %}
        {{ category.description| truncatewords:155 }}
    {% else %}
        Shop - Onlineshopping Site - You can buy different items from here!!!
    {% endif %}
{% endblock %}

<!--TITLE SECTION-->
{% block title %}
    {% if category %}
        {{ category.name }}  - Onlineshop
    {% else %}
        Shopping items
    {% endif %}
{% endblock %}


<!--CATEGORY & PRODUCT SECTION-->
{% block content %}
{% if category %}
<div>
    <div class="row my_row_class">
        <div class="mx-auto ">
            <p><a href="{% url 'OnlineApp:allProdCat' %}">OUR CATEGORIES COLLECTION</a></p>
        </div>
        
    </div>
</div>
{% endif %}

<div class="o">
    {% if category %}
        <img class="" src="{{ category.image.url }}" alt="{{ category.name}}">
</div>
<br>
<div>
    <h1 class="text-center my_title">{{ category.name }}</h1>
    <p class="text-justify">{{ category.descriptipn }}</p>
</div>
    {% else %}
    <div class="my_row">
        <div class="col2">
            <h1 class="text-center">Give you workout <br>A new style !!!</h1>
            <p class="text-center">Sucess is not always about greatness, Its all about consistancy. Consistent <br>hard work gain sucess.Greatness will come</p>
        <div class="h">
            <a href="{% url 'OnlineApp:exclusive' %}" class="btn-head">Explore Now &#8594;</a>
        </div>
            
        </div>
        <div class="col2">
            <img src="{% static 'img\banner.png' %}">
        </div>
    </div>
    <!-- <div>
        <img class="my_image my_image_padding"src="{% static 'img/banner.png' %}" alt="Our products">
    </div> -->
    <div class="cat_sec">
        <div class="cut_div">
            <h1 class="text-center my_title-1">OUR PRODUCTS COLLECTIONS</h1>
            <!-- <P class="text-center">Explore our curated collection of football studs, designed 
                for both amateur and professional players. From precision-engineered studs for 
                firm ground to versatile options for turf and indoor courts, we’ve got you covered. 
                Elevate your game with top brands like Adidas Originals, 
                Puma, and Nike. Score big on style and performance!</P> -->
        </div>
        {% endif %}
    
        <!-- <div class="container">
            <div class="row mx_auto">
                {% for product in products.object_list %}
                <div class="my_bottom_margin col-md-2 col-sm-6 col-md-4 xol-lg-4">
                    <div class="card text-center " style="min-width: 18rem;">
                        <a href="{{ product.get_url }}"><img class= "card-img-top my_image" src="{{ product.image.url }}" alt="{{ product.name }}"></a>
                        <div class="crad-body">
                            <h4>{{ product.name }}</h4>
                            <p> $ {{ product.price }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %} -->
            </div>
            <div class="mx-auto">
                {% if products.paginator.num_pages > 1 %}
    
                 
                <div class="text-center">
                    {% for pg in products.paginator.page_range %}
                    <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}">{{pg}}</a>
                    {% endfor %}
                </div>
            </div>
            {% endif %} <hr>
    
        </div>
    </div>

    <div class="card-container">
        {% for product in products.object_list %}
            <div class="card-1" > <!---product card settings--->
                <a href="{{ product.get_url }}"><img class= "card-img-top my_image" src="{{ product.image.url }}" alt="{{ product.name }}" style="align-items: center;margin-top: 20px;border-radius: 20px;"></a>
                <div class="card-content">
                    <h2 class="card-title">{{ product.name }}</h2>
                </div>
                <a class="product-button" href="{{ product.get_url }}">View More</a>
                <!-- <button onclick="location.href= class="product-button">View More</button> -->
            </div>
        {% endfor %}
    </div>
    


{% endblock %}
