{% load static %}

<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="footer navbar-fixed-bottom my_footer">
    <div class="brands">
        <div class="smallcontainers">
            <h3 class="follw">Follow Us</h3>
            <div class="row">
                
                <div class="col5">
                    <a href="" class="blogo"><i class="fa-brands fa-facebook-f">&nbsp;Facebook</i><br></a>
                </div>
                <div class="col5">
                    <a href="" class="blogo"><i class="fa fa-youtube-play">&nbsp;YouTube</i><br></a>
                </div>
                <div class="col5">
                    <a href="" class="blogo"><i class="fa-brands fa-instagram">&nbsp;Instagram</i><br></a>
                </div>
                <div class="col5">
                    <a href="" class="blogo"><i class="fa-brands fa-x-twitter">&nbsp;Twitter</i><br></a>
                </div>
                <div class="col5">
                    <a href="" class="blogo"><i class="fa-brands fa-whatsapp">&nbsp;Message</i><br></a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="fotcol4">
        
        <ul>
            <a href="https://www.facebook.com/" class="">Facebook</a><br>
            <a href="https://www.twitter.com/" class="">Twitter</a> <br>
            <a href="https://www.instagram.com/" class="">Instagram</a><br>
            <a href="https://www.youtube.com/" class="">YouTube</a>
        </ul>
    </div>
    <div class="footer navbar-fixed-bottom my_footer">
        
        <p class="text-center">&copy; Copyrights 2024 - Jishnu 
        <b>Our Purpose is to sustainable make pleasure and benefits of sports accessories to the many</b></p>
    </div> -->


        <div class="fotter">
            <div class="container">
                <div class="row">
                    <div class="fotcol1">
                        <h3 class="foot_head">Download Our App</h3>
                        <p>Download app for android and iOS mobile phones</p>
                        <div class="app-logo">
                            <a href="https://www.apple.com/in/app-store/"><img class="store_logo" src="{% static 'img/links/app_store.png' %}" alt="logo-facebook"></a>
                            <a href="https://play.google.com/store/apps"><img class="store_logo" src="{% static 'img/links/play_store.png' %}"></a>
                        </div>
                    </div>
                    <div class="fotcol2">
                        <img src="{% static 'img/logo-white.png' %}" alt="">
                        <p>Our Purpose is to sustainable make pleasure and benefits of sports accessories to the many</p>
                        <p>REDSTORE Industries Pvt Ltd <br>Kacherithazham, Muvattupuzha - 686 673 <br>&#9990;<a class="phone" href="">+91 89435 85996</a> </p> 
                    </div>
                    <div class="fotcol3 cutom_links_footer">
                        <h3 class="foot_head">Useful Links</h3>
                        <ul>
                            <li><a class="custom_link" href="">Coupons</a></li>
                            <li><a class="custom_link" href="">Blog Post</a></li>
                            <li><a class="custom_link" href="">Return Policy</a></li>
                            <li><a class="custom_link" href="">Join Affiliate</a></li>
                            <li><a class="custom_link" href="">Carrier</a></li>
                        </ul>
                     </div>
                     <div class="fotcol4">
                        <h3 class="foot_head">Follow Us</h3>
                        <ul>
                            <a href="https://www.facebook.com/" ><img class="icon" src="{% static 'img/links/facebook.png' %}" alt=""></a><br>
                            <a href="https://www.twitter.com/"><img class="icon" src="{% static 'img/links/twitter.png' %}" alt=""></a> <br>
                            <a href="https://www.instagram.com/"><img class="icon" src="{% static 'img/links/instagram.png' %}" alt=""></a><br>
                            <a href="https://www.youtube.com/"><img class="icon" src="{% static 'img/links/youtube.png' %}" alt=""></a>
                        </ul>
                    </div>
                </div>
                <hr>
                    <p class="copyright">Copyrights 2023 - RedStore <br>Design & Developed by Jishnu
                    </p>
            </div>
        </div>
    
    

