
{% load static %}
<style>

/* *,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    background: radial-gradient(#fff,#f80303);
}

input,
button {
    border: none;
    outline: none;
    background: none;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.cont {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    width: 900px;
    height: 550px;
    margin: 0 auto 100px;
    background: #fff;
    box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.3), 10px 10px 15px rgba(70, 70, 70, 0.15), inset -10px -10px 15px rgba(255, 255, 255, 0.3), inset 10px 10px 15px rgba(70, 70, 70, 0.15);
}

.form {
    position: relative;
    padding: 50px 30px 0;
}

button {
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 36px;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

h2 {
    width: 100%;
    font-size: 26px;
    text-align: center;
}

label {
    display: block;
    width: 260px;
    margin: 25px auto 0;
    text-align: center;
}

label span {
    font-size: 12px;
    color: #cfcfcf;
    text-transform: uppercase;
}

input {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    text-align: center;
}

.forgot-pass {
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: #cfcfcf;

}

.forgot-pass_a{
    text-decoration: none;
}

.submit {
    margin-top: 40px;
    margin-bottom: 20px;
    background: #d4af7a;
    text-transform: uppercase;
} */
</style>


    


<link rel="stylesheet" href="{% static 'css/login.css' %}">

<!-- LOGIN SECTION -->

    <form action="" method="POST">
        {% csrf_token %}
    
    <br>
    <div class="cont">
        <div class="form sign-in">
            <h2>Welcome</h2>
            <label>
                <span>UserName</span>
                <input type="text" name="username" />
            </label>
            <label>
                <span>Password</span>
                <input type="password"name="password"  />
            </label>
            <!-- <input type="text" placeholder="Username" name="username" />
            <input type="password" placeholder="Password" name="password" /> -->
            <a href="#" class="forgot-pass_a"><p class="forgot-pass">Forgot password?</p></a>
            <a href="{% url 'loginapp:register' %}" class="create_a"><p class="Create">New to RedStore ! Welcome on Board &#129309 </p></a>
            <button type="submit" class="submit">Sign In</button>
                <center>{% for msg in messages %}
                    <p style="color: red;">{{msg}}</p>
                    {%endfor%}</center>
         </div>
         
       
        </form>



